.banier-top {
  background-size: 70% 104%;
  padding-bottom: 6rem;
}

.banier-top .content-banier p {
  width: 90%;
}

.banier-top .content-banier h1 {
  max-width: 100%;
}

.banier-top .content-banier .back-page {
  left: -37px;
  top: 48px;
}

header .change-color {
  background: #25275b;
}

header .logo {
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  header .logo {
    margin: 0;
  }
}
.card-salons .title-bold {
  margin-bottom: 1rem;
}
.item-mission p {
  padding-left: 0;
  margin-top: 1rem;
  padding: 0;
  margin-bottom: 2em;
}
.title-bolM{
  color: #ff9728;
  font-size: 25px;
  font-family: 'Poppins-Medium', serif;
  margin-bottom: 1rem;
}
.mission ol, .mission ul {
  margin-bottom: 1rem !important;
}
.mission p {
  padding: 0 !important;
  margin-bottom: 1rem;
}
.page-node-type-galeries .banier-top {
  padding-bottom: 3rem;
}
.mission .title-bold {
  margin-top: 19px;
}
ul.tiret{
  margin-top: 1rem;
}
ul.tiret li{
  font-size: 15px;
  width: 85%;
  font-family: 'Poppins-Regular',serif;
  line-height: 18px;
  margin-bottom: 5px;
}
ul.tiret li::before{
  content: "-";
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}
.secteur-salon {
  padding-bottom: 20px;
}
.row-2 {
  max-width: 1335px;
  margin: auto;
}
